<% unless pages.nil? then %>
      <% pages.each do |page| %>
            <div class='preview group clickzoom' id=<%= 'page_'+page.id.to_s %>>
              <%= render :partial => "pages/show_page", :locals => {:page => page} %>
            </div>

      <% end %>
     <div style="clear:both;"></div>

<% end %>
