.preview.more_pages{
  background: gray;
}

.preview.new_document{
  background: #90ee90;
}

#show_document_pages {
  width: auto;
  height: auto;
  border: 15px solid #eee;
  padding-bottom: 5px;
  background: gray;
  color: #333;
  position: fixed;
  top: 60px;
  left: 33%;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 20px #777; /* vertical and horizontal alignment used for preloader text */
  text-align: center;
  z-index: 999999;
}

.show_single_page {
  float: left;
  padding: 5px;

}