


<h1>Listing uploads</h1>
<input type="hidden" id="controller_div" value="/uploads/group" />

<% unless @uploads.nil? then %>
<% @uploads.each do |upload| %>
        <div class='preview group <%= (upload.document? ? "document" : "page") %>' id=<%= upload.id %>>

      <%= render :partial => "show_upload", :locals => {:upload => upload} %>
    </div>
<% end %>
    <div style="clear:both;"></div>
<% end %>





