<% status_summary= Page.count(:group => :status) %>
Upload:<%= status_summary[Page::UPLOADED].presence ||'0' %> |
Convert:<%= status_summary[Page::UPLOADED_PROCESSING].presence || '0' %> |
Wait for Convert:<%= status_summary[Page::UPLOADED_NOT_PROCESSED].presence || '0' %> |
<% pending_backups=Page.uploading_status(:no_backup) %>
<% if pending_backups==0 %>
    Backup Pending: -
<% else %>
    <span style="color: yellow">
        Backup Pending: <%= pending_backups %>
</span>
<% end %>

<% if Log.check_errors? == true then %>
    | <span style="background: red"><a href="/status">ERROR</a></span>
<% elsif RemoteConvertWorker.connect_to_server==RemoteConvertWorker::NOT_CONNECTED %>
    | <span style="background: lightskyblue"><a href="/status">NO WORKER</a></span>
<% else %>
    | <span><a href="/status">STATUS:OK</a></span>
<% end %>

