<% status_summary= Page.count(:group => :status) %>
Uploaded:<%= status_summary[Page::UPLOADED].presence ||'0' %> |
Converting:<%= status_summary[Page::UPLOADED_PROCESSING].presence || '0' %> |
<% pending_backups=Page.uploading_status(:no_backup) %>
<% if pending_backups==0 %>
    Backup Pending: -
<% else %>
    <span style="color: yellow">
        Backup Pending: <%= pending_backups %>
</span>
<% end %>

<% if Log.check_errors? == true or ConvertWorker.connect_to_server==ConvertWorker::NOT_CONNECTED then %>
    |
    <span style="background: yellow">
    ERROR
</span>
<% end %>


